name: Golang CI Lint
# This workflow will run the golangci-lint analysis

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Get tags to allow build script to get build version

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.24.x

      - name: Setup Version
        run: make version

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
